
#myDiv1{
    float:left;
}
#myDiv2{
    float: right;
}
#myDiv3{
    width: 5000;
    height: 2000;
    margin-left: 400px;
    margin-right:200px;
    margin-bottom: 200px;
}
#myDiv4{
    float:left;
}
#myDiv{
    float:right;
}

