
#myDiv1{
    float:left;
    margin-right: 200px;
}
#myDiv2{
    float: right;
    margin-left: 100px;
}
#myDiv3{
    
    margin-left: 200px;
    margin-right:200px;
    margin-bottom: 200px;
}
#myDiv4{
    float:left;
    
    margin-bottom: 60px;
}


